{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="px-4 pt-5 text-center border-bottom">
{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change my password" class="btn btn-primary btn-lg px-4 me-sm-3">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</div>
{% endblock %}