{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="px-4 pt-5 text-center border-bottom">
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
</div>
{% endblock %}