{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <p>{{title}}</p>
        {% for data in dataset %}.
        <b>{{ data.name }}</b>
        <a href="/app/{{classname}}/update/{{data.id}}"><button type="submit"class="save btn btn-primary">Edit</button> </a>
        <a href="/app/{{classname}}/details/{{data.id}}"><button type="submit"class="save btn btn-secondary">Details</button> </a>
        <a href="/app/{{classname}}/delete/{{data.id}}"><button type="submit"class="save btn btn-danger">Delete</button> </a>
        <hr/>
        {% endfor %}
    </div>
{% endblock %}

<div class="main">
    {% for promotion in promotions %}.
    {{ promotion.name }}<br/>
    <hr/>
    {% for sub in promotion.subject.all %}
    {{ sub.name }}
    {% empty %}
    {% endfor %}
    {% endfor %}
</div>